*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
header{
    width: 100%;
    background: rgba(38, 38, 38, 0);
    
    position: fixed;
    z-index: 5;
}
.menu{
    margin: auto;
    max-width: 1290px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo a{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 36px;
    cursor: pointer;
}
.topnav a{
    position: relative;
    margin-left: 60px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.topnav a:after,
.topnav a:before {
    transition: all .5s;}

.topnav a:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #9160FB;
  height: 2px;
}
.topnav a:hover:after {
  width: 100%;
}
#mastheader{
    transition: all 0.3s ease-in 0s; 
}
#masthead{
    transition: all 0.3s ease-in 0s; 
}

#mastheader.scrolled  {
    transition: all 0.3s ease-in 0s;
    
    background: rgba(38, 38, 38, 1);
}
#masthead.scrolled  {
    transition: all 0.3s ease-in 0s;
    height: 100px;
    
}


@media screen and (max-width: 1350px){
   .menu{
        margin: 0px 20px 0px 20px;
    } 
}
@media screen and (min-width: 1001px){
  .header_logo .logomin{
   display: none;
}  
}
@media screen and (max-width: 1000px){
    .menu{
        height: 140px;
    }
    #masthead.scrolled  {
        height: 100px;
    }
    .header_logo a.logomax{
        display: none;
    }
    .header a.logomin{
        float: left;
        display:block;
        color: #fff;
        font-size: 36px;
    }
}
      @media screen and (max-width: 580px){
    
    .topnav a{
        font-size: 24px;
        margin-left: 25px;
    }
}
@media screen and (max-width: 400px){
    .menu{
        height: 80px;
    }
    #masthead.scrolled  {
        height: 60px;
    }
    .header_logo{
        font-size: 20px;
    }
    .topnav a{
        font-size: 17px;
        margin-left: 25px;
    }
    .header a.logomin{
        font-size: 24px;
    }
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}
.first_banner{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    z-index: 1;
}
.content{
    max-width: 1290px;
    margin: auto;
    position: relative;
    margin-top: 40vh;
}
.content h1{
    font-weight: 700;
    font-size: 96px;
    color: #fff;
}

.content p{
    margin-top: 20px;
    font-size: 72px;
    font-weight: 300;
    color: #fff;
}
.content span{
    color: #9160FB;
}
@media screen and (max-width: 1350px){
    .content{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 1000px){
    .content{
        text-align: center;
    }
    .content h1{
        font-size: 10vw;
    }
    .content p{
        font-size: 10vw;
    }
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.our-work .grid li{
	padding: 0;
	height: 940px;
	

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}
.our-work .grid li.small{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    
}
.small a{
    margin-top: 400px;
}
.small h1{
    position: absolute;
    margin-top: 300px;
    text-align: center;
    color: #fff;
    font-size: 65px;
}
.btn {
	display: block;
	width: 250px;
	height: 80px;
    border: 3px solid #fff;
    background: rgba(47, 47, 47, 0.6);
	overflow: hidden;
	color: #fff;
	line-height: 80px;
	float: left;
	z-index: 1;
	margin: 25px;
	font-size: 28px;
	position: relative;
	-webkit-transition: 1s ease-out;
    transition: 1s ease-out;
    text-align: center;
}
.btn:before,
.btn:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
[data-type]:before {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: -1;
}

[data-type]:hover {
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	color: #9160FB;
	z-index: 8;
}
[data-type="diagonal_swipe_left"]:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	border-right: 50px solid transparent;
	border-bottom: 80px solid #fff;
}

[data-type="diagonal_swipe_left"]:hover:before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
@media screen and (max-width: 700px){
    .btn{
        scale: 0.7;
    }
}
footer{
    display: flex;
    height: 600px;
    position: relative;
    justify-content:center ;
}

.containerr{
    max-width: 654px;
    margin-top:100px ;
}
.mail{
    
    margin-top: 50px;
    
}
.mail a {
	color: white;
	padding: 0.3em calc(0.3em * 1.1);
	display: inline-block;
	border: 3px solid transparent;
	position: relative;
    font-size: 56px;
    font-weight: 500;
	cursor: pointer;
}

.mail a .text {
	
	transform: translate3d(0, 0.4em, 0);
	display: block;
	transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.mail a:after {
	position: absolute;
	content: '';
	bottom: -20px;
	left: calc(0.3em * 1.2);
	right: calc(0.3em * 1.2);
	height: 3px;
	background: #9160FB;
	transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
	transform-origin: left;
}

.mail .line {
	position: absolute;
	background: #9160FB;
}

.mail .line.-right, .mail .line.-left {
	width: 3px;
	bottom: -3px;
	top: -3px;
	transform: scale3d(1, 0, 1);
}

.mail .line.-top, .mail .line.-bottom {
	height: 3px;
	left: -3px;
	right: -3px;
	transform: scale3d(0, 1, 1);
}

.mail .line.-right {
	right: -4px;
	transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
	transform-origin: top;
}

.mail .line.-top {
	top: -3px;
	transition: transform 0.08s linear 0.43s;
	transform-origin: left;
}

.mail .line.-left {
	left: -3px;
	transition: transform 0.08s linear 0.51s;
	transform-origin: bottom;
}

.mail .line.-bottom {
	bottom: -3px;
	transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
	transform-origin: right;
}

.mail a:hover .text,
  .mail a:active .text {
	transform: translate3d(0, 0, 0);
	transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.mail a:hover:after,
  .mail a:active:after {
	transform: scale3d(0, 1, 1);
	right: -3px;
	left: -3px;
	transform-origin: right;
	transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.mail a:hover .line,
  .mail a:active .line {
	transform: scale3d(1, 1, 1);
}

.mail a:hover .line.-right,
    .mail a:active .line.-right {
	transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
	transform-origin: bottom;
}

.mail a:hover .line.-top,
    .mail a:active .line.-top {
	transition: transform 0.08s linear 0.4s;
	transform-origin: right;
}

.mail a:hover .line.-left,
    .mail a:active .line.-left {
	transition: transform 0.08s linear 0.48s;
	transform-origin: top;
}

.mail a:hover .line.-bottom,
    .mail a:active .line.-bottom {
	transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
	transform-origin: left;
}

.bottopnav{
   padding-top: 55px;
    position: relative;
    justify-content: space-between;
    
    
}
.bottopnav a{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-left: 54px;
}
#vk{
	cursor:url(icons/Vector-2.png), pointer;
}
#tg{
    cursor:url(icons/Vector-1.png), pointer;
}
#be{
    cursor:url(icons/Vector.png), pointer;
}
@media screen and (max-width: 700px){
    
    .mail a{
        font-size: 46px;
    }
    .bottopnav a{
        font-size: 26px;
    }
}
@media screen and (max-width: 550px){
    
    .mail a{
        font-size: 28px;
    }
    .bottopnav a{
        font-size: 22px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 350px){
    footer{
        height: 300px;
    }
    .mail{
        margin-top: 0px;
    }
    .mail a{
        font-size: 24px;
    }
    .bottopnav a{
        font-size: 18px;
        margin-left: 14px;
    }
}
.buttonnext{
    width: 100%;
	display: flex;
	padding-top: 130px;
    justify-content: center;
    position: relative;
}
.buttonnext a {
	text-decoration: none;
	color: #fff;
}

.glitch-btn {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 32px;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
	color: #fff;
}

.glitch-btn .mask {
	position: absolute;
	width: 100%;
	overflow: hidden;
	display: none;
}

.glitch-btn .mask span {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	top: -100%;
}

.glitch-btn:hover {
	color: #fff;
}

.glitch-btn:hover:before {
	background: #9160FB;
	transform: translateX(120%) scaleX(3) scaleY(0.8);
}

.glitch-btn:before {
	content: "";
	position: absolute;
	left: -15%;
	top: -50%;
	background: #46248F;
	width: 40%;
	height: 200%;
	padding: 0px;
	z-index: -1;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.glitch-btn:after {
	content: "";
	position: absolute;
	left: -5%;
	top: 105%;
	background: #fff;
	width: 112%;
	height: 10%;
	padding: 0px;
	z-index: -1;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.glitch-btn:hover:after {
	background: #9160FB;
	transform: translateX(-55%) translateY(-600%) rotate(90deg) scaleX(0.4);
}

.glitch-btn .mask1 {
	height: 20%;
	top: 19%;
}

.glitch-btn .mask2 {
	height: 30%;
	top: 35%;
}

.glitch-btn .mask3 {
	height: 57%;
	top: 63%;
}

.hidden {
	opacity: 0;
}

.glitch-btn:hover .mask1 {
	animation: glitchin1 0.2s 0.3s both;
}

.glitch-btn:hover .mask2 {
	animation: glitchin2 0.2s 0.2s both;
}

.glitch-btn:hover .mask3 {
	animation: glitchin1 0.2s 0.2s both;
}

.glitch-btn:hover .hidden {
	animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .text {
	animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .mask {
	display: block;
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes glitchin1 {
	100% {
		opacity: 0;
		transform: translate(0px, 0px);
	}

	95% {
		opacity: 1;
		-webkit-transform: translate(0.5px, 0.05px);
		transform: translate(0.5px, 0.05px);
	}

	90% {
		-webkit-transform: translate(0.6px, -0.3px);
		transform: translate(0.6px, -0.3px);
	}

	85% {
		-webkit-transform: translate(1.2px, 0px);
		transform: translate(1.2px, 0px);
	}

	80% {
		-webkit-transform: translate(1.2px, 0.2px);
		transform: translate(1.2px, 0.2px);
	}

	75% {
		-webkit-transform: translate(0.5px, 1px);
		transform: translate(0.5px, 1px);
	}

	70% {
		-webkit-transform: translate(0.3px, 1.2px);
		transform: translate(0.3px, 1.2px);
	}

	65% {
		-webkit-transform: translate(-2.1px, 0.7px);
		transform: translate(-2.1px, 0.7px);
	}

	60% {
		-webkit-transform: translate(3.6px, 0.4px);
		transform: translate(3.6px, 0.4px);
	}

	55% {
		-webkit-transform: translate(0.45px, 1.8px);
		transform: translate(0.45px, 1.8px);
	}

	50% {
		-webkit-transform: translate(-3px, -1px);
		transform: translate(-3px, -1px);
	}

	45% {
		-webkit-transform: translate(-4.4px, 1.1px);
		transform: translate(-4.4px, 1.1px);
	}

	40% {
		-webkit-transform: translate(-4.2px, 2.4px);
		transform: translate(-4.2px, 2.4px);
	}

	35% {
		-webkit-transform: translate(2.6px, 1.3px);
		transform: translate(2.6px, 1.3px);
	}

	30% {
		-webkit-transform: translate(-1.4px, 2.8px);
		transform: translate(-1.4px, 2.8px);
	}

	25% {
		-webkit-transform: translate(6px, 0.75px);
		transform: translate(6px, 0.75px);
	}

	20% {
		-webkit-transform: translate(0px, -1.6px);
		transform: translate(0px, -1.6px);
	}

	15% {
		-webkit-transform: translate(-5.95px, -0.85px);
		transform: translate(-5.95px, -0.85px);
	}

	10% {
		-webkit-transform: translate(3.6px, 3.6px);
		transform: translate(3.6px, 3.6px);
	}

	5% {
		-webkit-transform: translate(-0.95px, -0.95px);
		transform: translate(-0.95px, -0.95px);
	}

	1% {
		opacity: 1;
	}
}

@keyframes glitchin1 {
	100% {
		opacity: 0;
		transform: translate(0px, 0px);
	}

	95% {
		opacity: 1;
		-webkit-transform: translate(0.5px, 0.05px);
		transform: translate(0.5px, 0.05px);
	}

	90% {
		-webkit-transform: translate(0.6px, -0.3px);
		transform: translate(0.6px, -0.3px);
	}

	85% {
		-webkit-transform: translate(1.2px, 0px);
		transform: translate(1.2px, 0px);
	}

	80% {
		-webkit-transform: translate(1.2px, 0.2px);
		transform: translate(1.2px, 0.2px);
	}

	75% {
		-webkit-transform: translate(0.5px, 1px);
		transform: translate(0.5px, 1px);
	}

	70% {
		-webkit-transform: translate(0.3px, 1.2px);
		transform: translate(0.3px, 1.2px);
	}

	65% {
		-webkit-transform: translate(-2.1px, 0.7px);
		transform: translate(-2.1px, 0.7px);
	}

	60% {
		-webkit-transform: translate(3.6px, 0.4px);
		transform: translate(3.6px, 0.4px);
	}

	55% {
		-webkit-transform: translate(0.45px, 1.8px);
		transform: translate(0.45px, 1.8px);
	}

	50% {
		-webkit-transform: translate(-3px, -1px);
		transform: translate(-3px, -1px);
	}

	45% {
		-webkit-transform: translate(-4.4px, 1.1px);
		transform: translate(-4.4px, 1.1px);
	}

	40% {
		-webkit-transform: translate(-4.2px, 2.4px);
		transform: translate(-4.2px, 2.4px);
	}

	35% {
		-webkit-transform: translate(2.6px, 1.3px);
		transform: translate(2.6px, 1.3px);
	}

	30% {
		-webkit-transform: translate(-1.4px, 2.8px);
		transform: translate(-1.4px, 2.8px);
	}

	25% {
		-webkit-transform: translate(6px, 0.75px);
		transform: translate(6px, 0.75px);
	}

	20% {
		-webkit-transform: translate(0px, -1.6px);
		transform: translate(0px, -1.6px);
	}

	15% {
		-webkit-transform: translate(-5.95px, -0.85px);
		transform: translate(-5.95px, -0.85px);
	}

	10% {
		-webkit-transform: translate(3.6px, 3.6px);
		transform: translate(3.6px, 3.6px);
	}

	5% {
		-webkit-transform: translate(-0.95px, -0.95px);
		transform: translate(-0.95px, -0.95px);
	}

	1% {
		opacity: 1;
	}
}

@-webkit-keyframes glitchin2 {
	100% {
		opacity: 0;
		transform: translate(0px, 0px);
	}

	95% {
		opacity: 1;
		-webkit-transform: translate(-0.5px, -0.05px);
		transform: translate(-0.5px, -0.05px);
	}

	90% {
		-webkit-transform: translate(-0.6px, 0.3px);
		transform: translate(-0.6px, 0.3px);
	}

	85% {
		-webkit-transform: translate(-1.2px, 0px);
		transform: translate(-1.2px, 0px);
	}

	80% {
		-webkit-transform: translate(-1.2px, -0.2px);
		transform: translate(-1.2px, -0.2px);
	}

	75% {
		-webkit-transform: translate(-0.5px, -1px);
		transform: translate(-0.5px, -1px);
	}

	70% {
		-webkit-transform: translate(-0.3px, -1.2px);
		transform: translate(-0.3px, -1.2px);
	}

	65% {
		-webkit-transform: translate(2.1px, -0.7px);
		transform: translate(2.1px, -0.7px);
	}

	60% {
		-webkit-transform: translate(-3.6px, -0.4px);
		transform: translate(-3.6px, -0.4px);
	}

	55% {
		-webkit-transform: translate(-0.45px, -1.8px);
		transform: translate(-0.45px, -1.8px);
	}

	50% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}

	45% {
		-webkit-transform: translate(4.4px, -1.1px);
		transform: translate(4.4px, -1.1px);
	}

	40% {
		-webkit-transform: translate(4.2px, -2.4px);
		transform: translate(4.2px, -2.4px);
	}

	35% {
		-webkit-transform: translate(-2.6px, -1.3px);
		transform: translate(-2.6px, -1.3px);
	}

	30% {
		-webkit-transform: translate(1.4px, -2.8px);
		transform: translate(1.4px, -2.8px);
	}

	25% {
		-webkit-transform: translate(-6px, -0.75px);
		transform: translate(-6px, -0.75px);
	}

	20% {
		-webkit-transform: translate(0px, 1.6px);
		transform: translate(0px, 1.6px);
	}

	15% {
		-webkit-transform: translate(5.95px, 0.85px);
		transform: translate(5.95px, 0.85px);
	}

	10% {
		-webkit-transform: translate(-3.6px, -3.6px);
		transform: translate(-3.6px, -3.6px);
	}

	5% {
		-webkit-transform: translate(0.95px, 0.95px);
		transform: translate(0.95px, 0.95px);
	}

	1% {
		opacity: 1;
	}
}

@keyframes glitchin2 {
	100% {
		opacity: 0;
		transform: translate(0px, 0px);
	}

	95% {
		opacity: 1;
		-webkit-transform: translate(-0.5px, -0.05px);
		transform: translate(-0.5px, -0.05px);
	}

	90% {
		-webkit-transform: translate(-0.6px, 0.3px);
		transform: translate(-0.6px, 0.3px);
	}

	85% {
		-webkit-transform: translate(-1.2px, 0px);
		transform: translate(-1.2px, 0px);
	}

	80% {
		-webkit-transform: translate(-1.2px, -0.2px);
		transform: translate(-1.2px, -0.2px);
	}

	75% {
		-webkit-transform: translate(-0.5px, -1px);
		transform: translate(-0.5px, -1px);
	}

	70% {
		-webkit-transform: translate(-0.3px, -1.2px);
		transform: translate(-0.3px, -1.2px);
	}

	65% {
		-webkit-transform: translate(2.1px, -0.7px);
		transform: translate(2.1px, -0.7px);
	}

	60% {
		-webkit-transform: translate(-3.6px, -0.4px);
		transform: translate(-3.6px, -0.4px);
	}

	55% {
		-webkit-transform: translate(-0.45px, -1.8px);
		transform: translate(-0.45px, -1.8px);
	}

	50% {
		-webkit-transform: translate(3px, 1px);
		transform: translate(3px, 1px);
	}

	45% {
		-webkit-transform: translate(4.4px, -1.1px);
		transform: translate(4.4px, -1.1px);
	}

	40% {
		-webkit-transform: translate(4.2px, -2.4px);
		transform: translate(4.2px, -2.4px);
	}

	35% {
		-webkit-transform: translate(-2.6px, -1.3px);
		transform: translate(-2.6px, -1.3px);
	}

	30% {
		-webkit-transform: translate(1.4px, -2.8px);
		transform: translate(1.4px, -2.8px);
	}

	25% {
		-webkit-transform: translate(-6px, -0.75px);
		transform: translate(-6px, -0.75px);
	}

	20% {
		-webkit-transform: translate(0px, 1.6px);
		transform: translate(0px, 1.6px);
	}

	15% {
		-webkit-transform: translate(5.95px, 0.85px);
		transform: translate(5.95px, 0.85px);
	}

	10% {
		-webkit-transform: translate(-3.6px, -3.6px);
		transform: translate(-3.6px, -3.6px);
	}

	5% {
		-webkit-transform: translate(0.95px, 0.95px);
		transform: translate(0.95px, 0.95px);
	}

	1% {
		opacity: 1;
	}
}
@media screen and (max-width: 1000px){
    .glitch-btn{
        font-size: 30px;
    }
}
@media screen and (max-width: 420px){
    
    .glitch-btn{
        font-size: 26px;
    }
}
@media screen and (max-width: 365px){
    
    .glitch-btn{
        font-size: 18px;
        padding-top: 0px;
    }
}